.header-container {
  height: fit-content;
  min-height: 70px;
  background: linear-gradient(to bottom, #f7ede2, #f5cac3);
}

.menu-container {
  margin-left: 10%;;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-option {
  margin: 10px;
  padding: 10px;
  font-family: var(--second-font);
  font-size: x-large;
  color: var(--font-color);
}

.menu-option:hover {
  cursor: pointer;
}